body {
	background: #F5F5F5;
	font: 18px/1.5 sans-serif;	
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 21px;
	margin-bottom: 1em;
}
p {
	margin: 0 0 1em 0;
}
a {
	color: #f00090;
}
a:hover {
	text-decoration: none;
}
.wrapper {
	margin: 1em auto;
	max-width: 1000px;
	width: 95%;	
}
.container {
	padding: 2em;
}
#welcome, #status {
	margin-bottom: 2em;
}
#welcome h1 span {
	display: block;
	font-size: 75%;
}
#icon-status {
	float: left;
	height: 64px;
	margin-right: 1em;
	margin-top: -4px;
	width: 64px;
}

#out-tree {
	padding: 2em;
	max-width: 1000px;
	margin: auto auto 10em;
	background: #FFF;
	border-radius: 10px;
}
#out-tree h3 {
	border-bottom: 2px solid #dee2e6;
}
.container .nav a {
	width: 120px;
}
#out-tree .list-group {
	margin-left: -50px;
}
#out-tree .list-group-item {
	display: block;
	width: 400px;
	margin: 1px;
	padding: 10px;
	border-radius: 10px;
}
#out-tree .list-group a span {
	float: right;
	font-size: 15px;
}
#out-tree table td, #out-tree table th {
	border-radius: 10px;
	border: none;
}
#out-tree table {
	cursor: pointer;
}
#out-tree table td[name="deleteCell"] a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
}
#out-tree div[name=searchWrapper] {
	width: 300px;
}
#addEmployee {
	width: 150px;
	margin-left: auto;
	margin-right: 0px;
	background-color: #4CAF50;
	color: #fff;
}
#addEmployee:hover {
	box-shadow: 0 0 11px 5px rgba(33,33,33,.2);
}
#login-container {
	background: #FFF;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 20px;
	border-radius: 10px;
}
#login-container form button {
	width: 100px;
}
#log-buttons {
	float: right;
}